Repository cloudnativerioja/kubefest, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, infrastructure, documentation

.github/labeler.yml:

ci/cd:
  - .github/workflows/*

infrastructure:
  - "**/*.tf"

documentation:
  - "**/*.md"

feat: configure Cloudflare DNS and zone for kubefest.com
  infra/backend.tf
  infra/main.tf
  infra/provider.tf
  infra/variables.tf
Labels: infrastructure

docs: add README with project overview and infrastructure details
  README.md
Labels: documentation

feat: add 2024 subdomain CNAME record for Kubefest website
  infra/main.tf
Labels: infrastructure

refactor: rename 2024 subdomain Cloudflare record resource
  infra/main.tf
Labels: infrastructure

refactor: update infrastructure workflows and backend configuration
  .github/workflows/infra-check.yaml
  .github/workflows/infra-deploy.yaml
  infra/backend.tf
Labels: ci/cd, infrastructure

refactor: update Cloudflare provider configuration and zone resource
  infra/backend.tf
  infra/main.tf
Labels: infrastructure

fix: remove duplicate Cloudflare DNS record for www subdomain
  infra/main.tf
Labels: infrastructure

fix: remove duplicate Cloudflare DNS record
  infra/main.tf
Labels: infrastructure

fix: set TTL for Cloudflare DNS records
  infra/main.tf
Labels: infrastructure

fix: update Google Search Console verification DNS record
  infra/main.tf
Labels: infrastructure

chore: add continue-on-error to artifact download in GitHub Actions workflow
  .github/workflows/infra-deploy.yaml
  infra/main.tf
Labels: ci/cd, infrastructure

feat: add 2024 subdomain DNS record and remove artifact encryption step
  .github/workflows/infra-check.yaml
  infra/main.tf
Labels: ci/cd, infrastructure

fix: rename DNS record for 2024 subdomain
  infra/main.tf
Labels: infrastructure

fix: remove unnecessary type attribute from Cloudflare zone resource
  infra/main.tf
Labels: infrastructure

refactor: replace Cloudflare account_id with zone_id in infrastructure configuration
  .github/workflows/infra-check.yaml
  .github/workflows/infra-deploy.yaml
  infra/main.tf
  infra/provider.tf
  infra/variables.tf
Labels: ci/cd, infrastructure

refactor: rename Cloudflare zone_id variable for consistency
  .github/workflows/infra-check.yaml
  .github/workflows/infra-deploy.yaml
  infra/variables.tf
Labels: ci/cd, infrastructure

refactor: update Cloudflare DNS record zone_id references
  infra/main.tf
Labels: infrastructure

chore: specify infra directory for artifact operations in workflows
  .github/workflows/infra-check.yaml
  .github/workflows/infra-deploy.yaml
Labels: ci/cd

refactor: update Cloudflare variable descriptions for clarity
  infra/variables.tf
Labels: infrastructure

chore: add continue-on-error to Terraform apply step in infrastructure deployment workflow
  .github/workflows/infra-deploy.yaml
Labels: ci/cd

refactor: swap Cloudflare API token and zone ID variable definitions
  infra/variables.tf
Labels: infrastructure

refactor: remove hardcoded infra directory in artifact operations
  .github/workflows/infra-deploy.yaml
Labels: ci/cd

refactor: remove path filter for infrastructure deployment workflow
  .github/workflows/infra-deploy.yaml
Labels: ci/cd

chore: specify infra directory for artifact upload in deployment workflow
  .github/workflows/infra-deploy.yaml
Labels: ci/cd

docs: update Contributing section header in README
  README.md
Labels: documentation

docs: minor tweak to Contributing section header
  README.md
Labels: documentation

chore: specify infra directory for artifact download in deployment workflow
  .github/workflows/infra-deploy.yaml
Labels: ci/cd

chore: update artifact location from artifact to repository in workflows
  .github/workflows/infra-check.yaml
  .github/workflows/infra-deploy.yaml
Labels: ci/cd

🏗️ Automatically Updated Encrypted Terraform State.
  infra/terraform.tfstate.encrypted
Labels: none

chore: remove continue-on-error from Terraform apply step
  .github/workflows/infra-deploy.yaml
Labels: ci/cd

🏗️ Automatically Updated Encrypted Terraform State.
  infra/terraform.tfstate.encrypted
Labels: none

chore: update .gitignore to simplify ignored files
  .gitignore
Labels: none

🏗️ Automatically Updated Encrypted Terraform State.
  infra/terraform.tfstate.encrypted
Labels: none

feat: add DNS record for KubeFest 2025 website
  infra/main.tf
Labels: infrastructure

🏗️ Automatically Updated Encrypted Terraform State.
  infra/terraform.tfstate.encrypted
Labels: none
