Repository cloudnativerioja/kubefest, pull requests merged in 2024-03, with the labels that each got.

#1 Feat: add base tf infra
  .github/CODEOWNERS
  .github/labeler.yml
  .github/workflows/infra-check.yaml
  .github/workflows/infra-deploy.yaml
  .github/workflows/pr-labeler.yaml
  .gitignore
  README.md
  infra/.terraform.lock.hcl
  infra/backend.tf
  infra/main.tf
  infra/provider.tf
  infra/variables.tf
Labels: ci/cd, documentation, infrastructure, size/L

#3 Feature/kubefest zone
  infra/main.tf
  public/CNAME
Labels: infrastructure, size/S

#4 Feat: add improvements to the website
  package.json
  public/favicon.ico
  public/favicon.svg
  public/images/kubeday-2.jpg
  public/images/kubeday.jpg
  public/images/logo/brand1.png
  public/images/logo/brand2.png
  public/images/logo/brand3.png
  public/images/logo/brand4.png
  public/images/logo/brand5.png
  public/images/logo/brand6.png
  public/images/logo/brand7.png
  public/images/logo/brand8.png
  public/images/logo/logo-cncf-rioja.svg
  public/images/logo/logo.png
  public/images/logo/logo2.png
  public/images/speaker/adrian-barrio-andres.jpg
  public/images/speaker/diego-cristobal-herreros.jpg
  public/images/speaker/enrique-hormilla.jpg
  public/images/speaker/ivan-pedrazas.jpg
  public/images/speaker/jorge-perez.jpg
  public/images/speaker/mario-ezquerro.jpg
  public/images/speaker/speaker_10.jpg
  public/images/speaker/speaker_11.jpg
  public/images/speaker/speaker_12.jpg
  public/images/speaker/speaker_13.jpg
  public/images/speaker/speaker_14.jpg
  public/images/speaker/speaker_9.jpg
  public/images/speaker/viktor-farcic.jpg
  public/images/sponsor/aertic.svg
  public/images/sponsor/bosonit.svg
  public/images/sponsor/cncf.svg
  public/images/sponsor/fer.svg
  public/images/sponsor/globant-create.svg
  public/images/sponsor/google.svg
  src/components/About.astro
  src/components/Hero.astro
  src/components/Speakers.astro
  src/components/Sponsors.astro
  src/components/TicketsButton.astro
  src/layouts/Header.astro
  src/layouts/Layout.astro
  src/styles/global.css
  yarn.lock
Labels: size/L

#5 Feat: remove some code and add talks
  public/images/logo/kubefest-logo-black.svg
  public/images/logo/kubefest-logo-white.svg
  public/images/social.png
  public/images/thumbnails/diego-cristobal-herreros.jpg
  public/images/thumbnails/enrique-hormilla.jpg
  public/images/thumbnails/ivan-pedrazas.jpg
  public/images/thumbnails/jorge-perez.jpg
  public/images/thumbnails/viktor-farcic.jpg
  src/components/Schedule.astro
  src/components/Wrapper.astro
  src/layouts/Layout.astro
  src/pages/index.astro
  src/styles/global.css
Labels: size/L

#7 Feature/social schedule changes
  public/images/social.png
  public/images/thumbnails/diego-cristobal-herreros.jpg
  public/images/thumbnails/enrique-hormilla.jpg
  public/images/thumbnails/ivan-pedrazas.jpg
  public/images/thumbnails/jorge-perez.jpg
  public/images/thumbnails/schedule_thumb1.png
  public/images/thumbnails/schedule_thumb2.png
  public/images/thumbnails/schedule_thumb3.png
  public/images/thumbnails/testimonial_thumb1.jpg
  public/images/thumbnails/testimonial_thumb2.jpg
  public/images/thumbnails/viktor-farcic.jpg
  src/components/Schedule.astro
  src/layouts/Layout.astro
Labels: size/XS

#8 fix: og type and image url
  src/layouts/Layout.astro
Labels: size/S

#9 Feature/add sponsor and stuff
  public/images/social.png
  public/images/sponsor/civo.svg
  src/components/Sponsors.astro
  src/layouts/Layout.astro
Labels: size/S

#10 feat: add google tag
  src/layouts/Layout.astro
Labels: size/S

#11 Feature/update assets
  package.json
  public/images/speaker/ivan-pedrazas.jpg
Labels: size/XS

#12 feat: add google search console TXT verification
  infra/main.tf
Labels: infrastructure, size/XS

#13 Doc: translate to spanish Farcic talk
  src/components/Schedule.astro
Labels: size/M

#15 Fix/og:image
  .prettierignore
  public/social.png
  src/components/About.astro
  src/components/Hero.astro
  src/components/Schedule.astro
  src/components/Speakers.astro
  src/components/Sponsors.astro
  src/layouts/Footer.astro
  src/layouts/Header.astro
  src/layouts/Layout.astro
  src/styles/global.css
Labels: size/L

#16 Feature/k8learn logo
  src/components/Sponsors.astro
  src/icons/GitHub.astro
  src/images/sponsor/learnk8s.svg
Labels: size/M

#17 perf: removed unused css and compress files in build
  astro.config.mjs
  package.json
  yarn.lock
Labels: size/XL

#18 Feat: add kube careers and kube events logos
  README.md
  astro.config.mjs
  package-lock.json
  src/components/Countdown.astro
  src/components/Cta.astro
  src/components/Hero.astro
  src/components/Preloader.astro
  src/components/Sponsors.astro
  src/images/sponsor/kube-careers.svg
  src/images/sponsor/kube-events.svg
  src/images/sponsor/learnk8s.svg
  src/layouts/Layout.astro
  src/styles/global.css
  yarn.lock
Labels: documentation, size/XXL

#19 Feature/seo and fixes
  astro.config.mjs
  package-lock.json
  package.json
  src/components/Hero.astro
  src/components/Sponsors.astro
  src/components/TicketsButton.astro
  src/layouts/Header.astro
  src/layouts/Layout.astro
  src/pages/index.astro
  src/styles/global.css
Labels: size/L

#20 Fix: remove typo
  src/components/Schedule.astro
  src/components/Speakers.astro
Labels: size/XS
